@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar{
  width: 5px;
  background-color: rgba(138, 138, 138, 0.42);
}
::-webkit-scrollbar-thumb{
  background-color: rgba(0, 0, 0, 0.233);
  border-radius: 10px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pro{
  width: 300px;
  height: 300px;
  border: 1px solid black;
  /* background-image: url(../components/app-center/projects/img-projects/api.png); */
}
 
@media screen and (min-width:1170px) {
  #show{
  display: none;
  }
}

#show{
  display: none;
  }